.background {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background-color: green;
}
.mesa {
  max-width: 1100px;
  margin: auto;
}

.fila1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 150px;
}
.absolute {
  position: absolute;
  border-radius: 10px;
  height: 170;
}
.carta {
  width: 150px;
  height: 200px;
  background-color: rgb(80, 80, 80, 0.5);
  border-radius: 14px;
}

.hover {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 14px;
}
